html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

#home-menu{
    /* background-color: pink; */
    width: 100%;
    background-color: pink;
    background-image: url(./Assets/Images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}